# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

jobs:
  component-import:
    docker:
      - image: circleci/node:10

    working_directory: ~/repo

    steps:
      - add_ssh_keys:
          fingerprints:
            - "${CI_GIT_USER_KEY_FINGERPRINT}"
      - checkout

      - run:
          command: |

            # @TODO - Fix installing hub. The debian image CircleCI uses doesn't seem to like installing hub so this is an interim solution

            # Download archive of hub release
            curl -OL https://github.com/github/hub/releases/download/v2.13.0/hub-linux-amd64-2.13.0.tgz

            # Decompress archive            
            tar -zvxf hub-linux-amd64-2.13.0.tgz hub-linux-amd64-2.13.0/bin/hub

            # Move to location in user's PATH
            sudo mv hub-linux-amd64-2.13.0/bin/hub /usr/local/bin/hub

            # Clean up archive and artifacts
            rm -f hub-linux-amd64-2.13.0.tgz
            rm -rf hub-linux-amd64-2.13.0

      - run:
          command: |
            didImportComponents=false

            # cd to Framer project directory
            cd $FRAMER_PROJECT_PATH

            # Store current yarn.lock in memory
            previousYarnLock=$(cat yarn.lock)

            # Install dependencies
            yarn

            # Store new yarn.lock in memory
            newYarnLock=$(cat yarn.lock)

            # Check if a component importer configuration already exists
            if [ ! -f importer.config.json ]; then
              # Run component importer for the first time
              npx @framerjs/component-importer@next init $COMPONENT_LIBRARY_PACKAGE --mode plain

              # Update flag to indicate if components were imported
              didImportComponents=true
            else
              # Determine if there is dependency updates
              updatedDependencies=$(npx yarn-pkg-version-diff $DEPENDANT_LIBRARIES $previousYarnLock $newYarnLock)

              # Check if response of dependency updates script is empty
              if [ -z "$updatedDependencies" ]; then
                # Regenerate components
                npx @framerjs/component-importer@next generate

                # Update flag to indicate if components were imported
                didImportComponents=true
              fi
            fi

            # Check if components were imported and there were changes
            if [ $didImportComponents = true ]; then
              COMPONENT_IMPORTER_BRANCH_NAME="framer-bridge/component-importer"
              branchAlreadyExists=false

              # @TODO - set user.email/user.name based on environment variables
              hub config --global user.email "component-importer@framer-bridge.com"
              hub config --global user.name "Framer Bridge Component Importer"

              # Check if the branch already exists
              if hub show-ref --quiet refs/heads/$COMPONENT_IMPORTER_BRANCH_NAME; then
                echo "Component Importer Branch already exists, checking out"
                hub checkout $COMPONENT_IMPORTER_BRANCH_NAME
                branchAlreadyExists=true
              else
                echo "Component Importer Branch does not yet exist, creating"
                # Checkout a new branch
                hub checkout -b $COMPONENT_IMPORTER_BRANCH_NAME
              fi

              # Stage all files for commit
              hub add .

              # Commit imported components
              # @TODO - More descriptive commit message
              hub commit -m "Re-imported components due to dependency update [skip ci]"

              # Push to git
              hub push origin HEAD

              # Create pull request if branch didn't already exist (PR will have been created if branch does exist)
              if [ "$branchAlreadyExists" = false ]; then
                # @TODO - More descriptive PR message
                hub pull-request -m $COMPONENT_IMPORTER_BRANCH_NAME -p
              fi
            fi

      - run: echo Component Import logic every scheduled time.

  # Framer CLI build command
  build:
    docker:
      - image: circleci/node:10

    working_directory: ~/repo

    steps:
      - checkout
      - run: yarn
      - run: npx framer-cli build $FRAMER_PROJECT_PATH

  publish:
    docker:
      - image: circleci/node:10

    working_directory: ~/repo

    steps:
      - checkout
      - run: yarn
      - run: npx framer-cli publish $FRAMER_PROJECT_PATH --yes

workflows:
  version: 2.1
  # This step will run on a cron schedule, and see if there were
  # any updates that were made to a dependency. If yes, then the
  # component importer will run, adding the new changes to the
  # Framer X file. Afterwards, a PR will be submitted to Github
  hourly-import-check:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - component-import

  debug-component-import:
    jobs:
      - component-import:
          filters:
            branches:
              only: fix/ci-branch-behind-head

  # This job will run any time there are changes that are merged
  # to master. This will in turn publish these updates to the
  # respective package in Framer X using the framer-cli jobs
  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              only: master
      # @TODO uncomment publish flow after package is published
      # - publish:
      #     requires:
      #       - build
      #     filters:
      #       branches:
      #         only: master
